body {
  transition: background-color 0.3s ease;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Zaciemnienie */
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ustaw z-index wyższy niż elementy w tle */
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.current {
  border-bottom: 1px solid #000;
}

.valid {
  background: rgba(51, 170, 51, .7)
}

.invalid {
  background: rgba(255, 0, 0, .7)
}


